.header {
    padding: 16px;

    .title {
        font-family: 'Passion One', cursive;
        font-size: 32px;
        line-height: normal;
        color: #F86600;

        margin-bottom: 8px;
    }

    .desription {
        max-width: 343px;
        line-height: 24px;
    }
}